@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  @apply font-openSans;
}

iframe {
  display: none;
}

#root {
  height: 100%;
}

input:focus-visible {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */ 
::-webkit-scrollbar-track {
	@apply bg-primary-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-primary-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-800;
}
